# DHCPStats daemon unit file

[Unit]
Description = DHCPStats multi-instance combiner API daemon
After = network-online.target

[Service]
Type = simple
Environment = PYTHONUNBUFFERED=true
Environment = DHCPSTATS_CONFIG_FILE=/etc/dhcp/dhcpstats-combiner.yml
ExecStart = /usr/local/bin/dhcpstats-combiner.py
Restart = on-failure

[Install]
WantedBy = multi-user.target
